<div class="row clearfix">
  <% if organizer_item.completed? %>
    <div class="complete">
      <%= link_to complete_organizer_list_organizer_item_path(@organizer_list, organizer_item.id),
                  method: :patch do %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      <% end %>
    </div>
    <div class="organizer_item">
      <p style="opacity: 0.4;"><strike><%= organizer_item.content %></strike></p>
    </div>
    <div class="trash">
      <%=  link_to organizer_list_organizer_item_path(@organizer_list, organizer_item.id),
                     method:  :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% else %>
    <div class="complete">
      <%= link_to complete_organizer_list_organizer_item_path(@organizer_list, organizer_item.id),
                  method: :patch do %>
          <i class="fa fa-check"></i>
      <% end %>
    </div>
    <div class="organizer_item">
      <p><%= organizer_item.content %></p>
    </div>
    <div class="trash">
      <%=  link_to organizer_list_organizer_item_path(@organizer_list, organizer_item.id),
                   method:  :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>
